---
layout: default
image: headline.png
---
<!-- THIS IS HOME PAGE -->

<!-- begin profile-user -->
<div class="profile-user">
  <div class="avatar-box">
    <a href="{{ site.baseurl }}/" class="avatar-link"><img src="{% if site.data.settings.avatar %}  {{ site.baseurl }}/images/{{ site.data.settings.avatar }} {% else %} https://via.placeholder.com/150x150 {% endif %}" alt="{{ site.data.settings.name }}" class="avatar"></a>
    <div class="info-user">
      <strong class="user-name">{{ site.data.settings.name }}</strong>
      <span class="user-job">{{ site.data.settings.my-job }}</span>
    </div>
  </div>
  <div class="user-description">{{ site.data.settings.description }}</div>
  {% include social.html %}
</div>
<!-- end profile-user -->

<hr>

<!-- begin experience -->
<div class="experience">
  <h2 class="experience-title section-title"><i class="ion ion-ios-briefcase"></i> {{ site.data.settings.experience-title }}</h2>
  <ul class="experience-list list-reset">
    {% for experience in site.data.settings.experience %}
      {% for i in (1..1) %}
      <li class="experience-item">
        <h3 class="company-name">{{ experience.company-name }} / <span class="duration">{{ experience.duration }}</span></h3>
        <h5 class="job-position">{{ experience.job-position }}</h5>
        <div class="experience-description">{{ experience.description }}</div>
      </li>
      {% endfor %}
    {% endfor %}
  </ul>
</div>
<!-- end experience -->

<hr>

<!-- begin education -->
<div class="education">
  <h2 class="education-title section-title"><i class="ion ion-ios-school"></i> {{ site.data.settings.education-title
    }}</h2>
    <ul class="education list-reset">
      {% for education in site.data.settings.education %}
        {% for i in (1..1) %}
        <li class="education-item">
          <h3 class="degree">{{ education.degree }} / <span class="years">{{ education.years }}</span></h3>
          <h5 class="organization">{{ education.organization }}</h5>
          <div class="education-description">{{ education.description }}</div>
        </li>
        {% endfor %}
      {% endfor %}
    </ul>
</div>
<!-- end education -->

<hr>

<!-- begin certification -->
<!-- <div class="certification">
  <h2 class="certification-title section-title"><i class="ion ion-ios-school"></i> {{ site.data.settings.certification-title
    }}</h2>
    <ul class="certification list-reset">
      {% for certification in site.data.settings.certification %}
        {% for i in (1..1) %}
        <li class="certification-item">
          <h3 class="degree">{{ certification.degree }} / <span class="years">{{ certification.years }}</span></h3>
          <h5 class="organization">{{ certification.organization }}</h5>
          <div class="certification-description">{{ certification.description }}</div>
        </li>
        {% endfor %}
      {% endfor %}
    </ul>
</div> -->
<!-- end certification -->